* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    

    background-color: rgb(0, 166, 255);
}

#app {
    width: 99dvh;
    height: 99dvh;

    margin: 2px;
    
    background-color: red;
    padding: 6px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.button {
    width: 20px;
    height: 20px;
}

main {
    margin: 10px;
}



#tabela {
    display: flex;
    flex-direction: row;
}

section {
    margin: 5px;
}

#valores {
    display: grid;
    grid-template-rows: 25px 25px 25px;
    grid-template-columns: 25px 25px 25px;
}

#calculos {
    display: grid;
    grid-template-rows: 25px 25px 25px;
    grid-template-columns: 25px 25px 25px;
}